<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{commons/layout}">
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/stock/new.css}">
</th:block>

<head>
    <title>在庫新規登録</title>
</head>
<body>
<main layout:fragment="content">
    <header>
        <h1>在庫新規登録</h1>
    </header>

    <form th:action="@{/stock/new}" method="post" th:object="${stockForm}">
        <label for="isbn">ISBN：</label>
        <input type="text" id="isbn" th:field="*{isbn}" required/><br>

        <label for="quantity">在庫数：</label>
        <input type="number" id="quantity" th:field="*{quantity}" min="0" required/><br>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">登録</button>
            <a th:href="@{/stock}" class="btn btn-link">
                <i class="fas fa-arrow-left" aria-hidden="true"></i>
                <span>一覧へ戻る</span>
            </a>
        </div>
    </form>
</main>
</body>
</html>
