<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{commons/layout}">
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/book/edit.css}">
</th:block>

<head>
    <title>書籍編集</title>
</head>
<body>
<main layout:fragment="content">
    <header>
        <h1>書籍編集</h1>
    </header>

    <form th:action="@{'/book/edit/{id}(id=${bookForm.isbn})}" method="post" th:object="${bookForm}">
        <div>
            <label>ISBN: <input type="text" th:field="*{isbn}" readonly="readonly"/></label>
        </div>
        <div>
            <label>書名: <input type="text" th:field="*{title}"/></label>
            <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
        </div>
        <div>
            <label>著者名: <input type="text" th:field="*{author}"/></label>
            <div th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></div>
        </div>
        <div>
            <label>出版社名: <input type="text" th:field="*{publisher}"/></label>
            <div th:if="${#fields.hasErrors('publisher')}" th:errors="*{publisher}"></div>
        </div>
        <div>
            <label>価格: <input type="number" step="0.01" th:field="*{price}"/></label>
            <div th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">更新</button>
            <a th:href="@{/purchase-order}" class="btn btn-link">
                <i class="fas fa-arrow-left" aria-hidden="true"></i>
                <span>一覧へ戻る</span>
            </a>
        </div>
    </form>
</main>
</body>
</html>